dist: trusty
language: java
jdk:
- oraclejdk11
before_install:
- export TZ=Brazil/East
deploy:
  provider: heroku
  api_key:
    - secure: Xl7GfbpXqRUBSWBuWXZWjNWUuiYORMin0mEZVnxP0RuC3i9oP+wKq7OSlGpK968KxxfEgMd37uAU5mB40Pu8/8rvZ9ZknY7dv1sD9Os2im9LiTPowqRHTV6WsqH1tHQ5b0BzZ+kgmAYDscaTC7WDYidx3FRnjOstuK+lZwbJ1+GQLEMCaqUedJysvYWz8Z5mlkKaXzTDsWVFQoiPi9Fy692QTGlX2ZPHkTcI1z2T5R+Q+5u61DEpaEBaYuR1wy3CjiF3QcjKQc3npgB02pxFIVb1LSL7ura9PxKshlMYUa4lUgVfMKQ1DlzTvwwACk8rvDPa3mdsDD9RKCKB8Y8FqNvxDF0/AtpwZA99YPzzr5q1dWcl6d3A7sR4sitLvvIUiJw/3drykI7pD0xHfGeZaCzO8CFrwRguuS259M0nyfScdr2ElhPPshGchihAH6EjCP5uvdK8SsuJAIhCXRS+U/zo18xE/i2P8+1Cj5VaU9s6NtaZaBfGDmdKKpFGDA88EOu+1NttgADV7pg/3X7XrjAP0zJVwqmVcpXnDvRPKO6yBLxltvVhNTYo2Ho69j4+PDnhtdg4KLdK6QBNPo6Iz+ca/TrjrJ7qB1WZcTKRHkP1dW2pRN9JLj0FOcqfTQMw1kvD0B0uHI2o4EbFQGK2pYvhURFm1M0RbFJUc0juCaQ=
  app: $APP
